@import"base/reset";
@import"utils/variables";
@import"utils/btnAcceuil";
@import"base/btnGradient";
/*@import"base/polices";*/
@import"utils/keyframes";

.error{
    width: 100%;
    height: 100vh;
}

.spinner {
    width: 100%;
    border: 4px solid #f2f2f2;   
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    top: 50%;    
    left: 50%;
    transform: scale(0);
    animation: spinner  1s ease-in-out 3 alternate;
        &::after{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            border: 4px solid transparent;            
            border-top: 4px solid $color-primary;
            border-bottom: 4px solid $color-secondary;
            transform: scale(0);           
            animation: spinner 0.9s ease-in-out 3 alternate ;
            
        }    
}

main{
    animation: main 3s ease-in-out;
    font-family: 'Roboto';
    font-weight: 100;
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 1920px;
    height: auto;
    margin: auto;
}

.header {    
    text-align: center;
    height: 60px;
    box-shadow: 0px 4px 8px #cfcfcf;

    img {
        width: 164px;
        height: 28px;
        margin-top: 1.4em;  
    }
}

.localisation{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 48px;
    background-color: #eaeaea;  
    margin-top: 4px;
    i{
        margin-right: 16px;
        font-size: 1em;  
        margin-top: 15px;
    }
    h2{
        margin-top: 16px;
        margin-right: 28px;
        font-weight: bold;
    }

}

.exploration{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 285px;
    background-color: #f6f6f6;
    h1{        
        text-align: center;
        font-weight: bold;
        font-size: 1.5em;
        margin-top: 40px;
        margin-right: 16px;
        span{
            display: inline-block;
            margin-top: 4px;
        }
    }

    p{
        margin-top: 16px;
        text-align: center;
        margin-left: 8px;
        font-size: 17.5px;
        font-family: 'Roboto';
        font-weight: 100;
        span{
            display: inline-block;
            margin-top: 5px;
        }
    }
    
   
    
}


.operation{
    h2{
        margin-top: 52px; 
        margin-left: 21px;      
        font-size: 23.5px;
        font-weight:bold;
    }
    .operation__btn{
        display: flex;
        align-items: center;
        margin: auto;
    }

}
.operation__btns{
    display: flex;
    flex-direction: column;
    margin-top: 31px;
    margin-left: 11px;
    @media(min-width:1080px){
        flex-direction: row;
    }
    .operation__btn{
        @include btnAcceuil;
    }
    .operation__btn--shop{
        background-color:#f5edff ;
    }
}
.operation__number{
    background-color: $color-primary;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 28px;
    color: white;
    font-family: sans-serif;
    font-size: 1.05em;
    position: absolute;
    right: 312px;
    top: 28px;
}
.operation__icone{    
    margin-left: 36px;  
    i{
        color:#7e7e7e ;
    }
    &--tel{
        font-size: 21px;
    }
    &--menu{
        font-size: 16px;
        margin-top: 6px;
    }
    &--shop{
        font-size: 16.5px;
        margin-top: 8px;
        .fa-store{
            color: $color-primary;
        }
    }   
}
.operation__btn{
    span{
        font-size: 16px;
        font-weight: 600;
        
    }
    &--tel{
        span{
            margin-left: 26px;
            margin-top: 2px; 
                       
        }
    }
    &--menu{
        span{
            margin-left: 25px;
            margin-top: 2px;
        }
    }
    &--shop{
        
        span{
            margin-left: 20px;
            margin-top: 6px;
        }
    }
}
.restaurants{
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6 ;
    margin-top: 68px;
    &__container{
        display: flex;
        flex-wrap: wrap;
    }
    a{
        text-decoration: none;
        color: black;
    }
    h2{
        font-size: 23px;
        padding-top: 54px;
        margin-left: 20px;
        font-weight: bold;
        margin-bottom: 23px;
    }
    
}
.restaurants__thumbnail{
    width: 336px;
    height: 252px;
    background-color: white;
    border-radius: 20px;
    box-shadow: $box-shadow;
    margin: auto; 
    margin-top: 0;
    margin-bottom: 18px;  
    position: relative;
    .imgContainer{
        &--note{
            img{         
                height: 155%;
            }
        }
    }
    .heart__color{
        width: 20px;
        height: 20px;
        position: absolute;
        right: 24px;
        bottom: 33px;
        transform: scale(0);      
    }
    .heart{
        width: 20px;
        height: 20px;
        position: absolute;
        right: 24px;
        bottom: 33px;
        transform: scale(1);
        cursor: pointer;
        &:hover{
            animation: heart 1s 1s ease-in-out both;
            & + .heart__color{
                animation: heart__color 1s ease-in-out both ;
               
            }
           
        }
    }
    
}
.imgContainer{
    width: 336px;
    height: 176px;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;    
    img{
        width: 336px;
        height: 176px;
        object-fit: cover;
        object-position:bottom;
    }
    .new{
        width: 81px;
        height: 29px;
        text-align: center;
        line-height: 29px;
        color:#139273;
        background-color:#99e2d0 ;        
        position: absolute;
        top: 13px;
        right: 12px;
        font-size: 13px;
        font-weight: bold;
    }
    
}
.restaurants__info{
    display: flex;
    justify-content: space-between;
    img{
        width: 20px;
        height: 20px;
    }
}
.restaurants__name{    
    h3{
        margin-top: 18px;
        margin-left: 14px;
        font-size: 17.5px;
        font-weight: bold;
    }
    p{
        margin-top: 8px;
        margin-left: 14px;
        font-family: 'Roboto';
        font-weight: 100;
        font-size: 16.5px;
    }
    
}
.fa-heart{
    position: absolute;
    bottom: 32px;
    right: 26px;
    font-size: 20px;
}

footer{
    background-color: #353535;
    color: white;
    width: 100%;
    height: 198px;
    position: relative;
    display: flex;
    flex-direction: column;    
    svg{        
        padding-top: 26px;
        padding-left: 25px;        
    }
    a{          
        text-decoration: none;
        color: white;
        width: max-content;
    }
    .propose{  
        margin-top: 14px;      
        margin-left: 25px;
    }
    .partner{
        margin-top: 14px;
        margin-left: 25px;
    }
    p{
        margin-top: 14px;
        margin-left: 25px;
        
        
    }
}
.footer__container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 12px;
}