@media(min-width:668px){
  header{
      position: relative;
      height: 11vh;
      .logo{
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          margin-bottom: 10px;
          img{
              width: 340px;
          }
      }
  }
  
}