button{
    height: 50px;
    width: 218px;
    margin-top: 32px;
    border-radius: 50px;
    margin-left: 6px;
    border: none;
    color: white;
    background: linear-gradient(  #e972da,#9d59dc);
    span{
        font-size: 14px;
        bottom: 1px;
        font-weight:600;

    }
}