@font-face {
    font-family: "Roboto";
    src: url(/police/Roboto-Regular.ttf);    
}
@font-face {
    font-family: "Roboto-Thin";
    src: url(/police/Roboto-Thin.ttf);
}
@font-face {
    font-family: "Shrikhand" ;
    src: url(../../police/Shrikhand-Regular.ttf);
}
    

